<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregar Gráficos</title>
</head>
<body>
    <h1>Carregando Gráficos...</h1>
    <!-- Aqui você pode adicionar uma barra de progresso ou outra indicação de carregamento -->
    <script>
        // Redirecionar para sensor_media.html após um certo tempo (opcional)
        setTimeout(function() {
            window.location.href = "/ver-grafico/";
        }, 3000);  // Redirecionar após 3 segundos (por exemplo)
    </script>
</body>
</html>
